<div class="wrapper wrapper-full-page">
    <div filter-color="black" class="page-header login-page header-filter"
         style="background-image: url('./assets/img/login.jpeg'); background-size: cover; background-position: top center;">
        <div class="container d-flex">
            <div class="row align-self-center">
                <div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto">
                    <form (ngSubmit)="login()" [formGroup]="loginForm">
                        <div class="card card-login">
                            <div class="card-header card-header-rose text-center">
                                <h4 class="card-title">Log in</h4>
                            </div>
                            <div class="card-body">
                                <span class="bmd-form-group">
                                    <div class="input-group has-validation">
                                        <span class="input-group-text">
                                            <i class="material-icons">face</i>
                                        </span>
                                        <input type="text" formControlName="username" clearInput
                                               placeholder="Username..." class="form-control"
                                               [ngClass]="{'is-invalid': loginForm.get('username').invalid && (loginForm.get('username').dirty || loginForm.get('username').touched)}"/>
                                        <ng-container *ngFor="let validation of validationMessages.username">
                                            <div class="invalid-feedback"
                                                 *ngIf="loginForm.get('username').hasError(validation.type) && (loginForm.get('username').dirty || loginForm.get('username').touched)">{{ validation.message }}</div>
                                        </ng-container>
                                    </div>
                                </span>
                                <span class="bmd-form-group">
                                    <div class="input-group has-validation">
                                        <span class="input-group-text">
                                            <i class="material-icons">lock_outline</i>
                                        </span>
                                        <input type="password" formControlName="password" clearInput
                                               placeholder="Password..." class="form-control"
                                               [ngClass]="{'is-invalid': loginForm.get('password').invalid && (loginForm.get('password').dirty || loginForm.get('password').touched)}"/>
                                        <ng-container *ngFor="let validation of validationMessages.password">
                                            <div class="invalid-feedback"
                                                 *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">{{ validation.message }}</div>
                                        </ng-container>
                                    </div>
                                </span>
                            </div>
                            <div class="card-footer justify-content-center">
                                <button mat-raised-button type="submit" class="btn btn-rose pull-right">Sign In</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

