<!-- Map Div -->
<div class="mapview" #mapViewNode></div>
<div>
    <label>Max Objectid</label>
    <input type="text" name="maxObjectId" #maxObjectId (change)="onChange($event.target.value)"/>
</div>
<div class="maptableview">
    <div #mapTableNode></div>
</div>



