<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Edit Configuration</h4>
                        <p class="card-category"></p>
                    </div>
                    <div class="card-body">
                        <form (ngSubmit)="submit()" [formGroup]="mapForm">
                            <div class="row">
                                <div class="col-md-12">
                                    <legend>Map Settings</legend>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <mat-form-field>
                                                <mat-icon matSuffix>radio_button_checked</mat-icon>
                                                <input matInput formControlName="clusterRadius"
                                                       placeholder="Cluster Radius" type="text"/>
                                            </mat-form-field>
                                            <ng-container
                                                    *ngFor="let validation of validationMessages.clusterRadius">
                                                <mat-error
                                                        *ngIf="mapForm.get('clusterRadius').hasError(validation.type) && (mapForm.get('clusterRadius').dirty || mapForm.get('clusterRadius').touched)">{{ validation.message }}</mat-error>
                                            </ng-container>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="togglebutton">
                                                <label class="text-black-50">
                                                    <input type="checkbox" formControlName="geoFencing">
                                                    <span class="toggle"></span>
                                                    Geo-Fencing
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"><br/></div>

                            <div class="row">
                                <div class="col-md-12">
                                    <legend>Duplication Event Configuration</legend>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <mat-form-field>
                                                <mat-icon matSuffix>schedule</mat-icon>
                                                <input matInput formControlName="timeBuffer" placeholder="Time Buffer"
                                                       type="text"/>
                                            </mat-form-field>
                                            <ng-container
                                                    *ngFor="let validation of validationMessages.timeBuffer">
                                                <mat-error
                                                        *ngIf="mapForm.get('timeBuffer').hasError(validation.type) && (mapForm.get('timeBuffer').dirty || mapForm.get('timeBuffer').touched)">{{ validation.message }}</mat-error>
                                            </ng-container>
                                        </div>
                                        <div class="col-md-6">
                                            <mat-form-field>
                                                <mat-icon matSuffix>pin_drop</mat-icon>
                                                <input matInput formControlName="locationBuffer"
                                                       placeholder="Location Buffer" type="text"/>
                                            </mat-form-field>
                                            <ng-container
                                                    *ngFor="let validation of validationMessages.locationBuffer">
                                                <mat-error
                                                        *ngIf="mapForm.get('locationBuffer').hasError(validation.type) && (mapForm.get('locationBuffer').dirty || mapForm.get('locationBuffer').touched)">{{ validation.message }}</mat-error>
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"><br/></div>

                            <div class="row">
                                <div class="col-md-12">
                                    <legend>End Event Duration</legend>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <mat-form-field>
                                                <mat-icon matSuffix>schedule</mat-icon>
                                                <input matInput formControlName="duration" placeholder="Duration"
                                                       type="text"/>
                                            </mat-form-field>
                                            <ng-container
                                                    *ngFor="let validation of validationMessages.duration">
                                                <mat-error
                                                        *ngIf="mapForm.get('duration').hasError(validation.type) && (mapForm.get('duration').dirty || mapForm.get('duration').touched)">{{ validation.message }}</mat-error>
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"><br/></div>

                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field>
                                        <mat-select placeholder="Map Type" formControlName="mapType"
                                                    (selectionChange)="onChange($event.value)">
                                            <mat-option *ngFor="let maptype of mapTypes" [value]="maptype.id">
                                                {{ maptype.name }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <ng-container
                                            *ngFor="let validation of validationMessages.mapType">
                                        <mat-error
                                                *ngIf="mapForm.get('mapType').hasError(validation.type) && (mapForm.get('mapType').dirty || mapForm.get('mapType').touched)">{{ validation.message }}</mat-error>
                                    </ng-container>
                                </div>
                                <div class="col-md-12">
                                    <mat-form-field>
                                        <mat-select placeholder="Map Sub Type" formControlName="mapSubType">
                                            <mat-option *ngFor="let subtype of selectedMapTypes" [value]="subtype.id">
                                                {{ subtype.name }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <ng-container
                                            *ngFor="let validation of validationMessages.mapSubType">
                                        <mat-error
                                                *ngIf="mapForm.get('mapSubType').hasError(validation.type) && (mapForm.get('mapSubType').dirty || mapForm.get('mapSubType').touched)">{{ validation.message }}</mat-error>
                                    </ng-container>
                                </div>
                            </div>
                            <div class="clearfix"><br/></div>

                            <div class="row">
                                <div class="col-md-2">
                                    <button mat-raised-button type="button" class="btn btn-dark pull-right">Reset
                                    </button>
                                </div>
                                <div class="col-md-6">
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <button mat-raised-button type="submit" class="btn btn-danger pull-right">
                                                Save
                                            </button>
                                        </div>
                                        <div class="col-md-6">
                                            <button mat-raised-button type="button" class="btn btn-primary pull-right">
                                                Cancel
                                            </button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
